:root {
  --primary-color: #77769b;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
body {
  margin-top: 100px !important;
  background-size: 2100px 1500px !important;
  background: URL(/images/backgrounds/annie-spratt-OTy0mkqc2Yk-unsplash.jpg);
}
img h1,
h2,
h3 {
  text-align: center !important;
  margin: 0;
}

h1 {
  font-size: 60px !important;
  font-weight: 500;
  line-height: 1.2;
}

h2 {
  font-size: 48px !important;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
.navbar {
  position: fixed;
  display: flex;
}
.navbar .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  text-decoration: solid;
}
.col-6 {
  justify-content: space-between;
}
.yoga {
  text-align: left;
}
.yoga.weather {
  color: antiquewhite;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
@media (max-width: 590px) {
  h1 {
    font-size: 38px !important;
    text-align: center;
    color: #f5f2fe;
  }
  h2 {
    font-size: 28px !important;
    color: #f5f2fe;
    text-align: center;
  }
  div h2.yogurt {
    display: block;
    margin-top: -50px !important;
  }
  .about-link {
    color: white !important;
  }
  .primary-link {
    display: block;
    margin: 0 auto;
    width: 190px;
    text-align: center;
  }
  .primary-link.yogurt {
    margin-bottom: 20px;
  }
  p {
    color: antiquewhite;
  }
  .img-fluid.index {
    display: none;
  }
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
